// About section in the profile
:host {
  display: block;
  padding: 11px;

  // About title
  .about-title {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.6rem;
    margin-bottom: 10px;
    padding: 10px 0px 0.5rem;
  }

  // About text
  .about-text {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: 0.8rem;
  }
}