// Cover below the toolbar
:host {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-top: 14px;

  // Cover image
  .cover-bg {
    position: absolute;
    width: 100%;
    z-index: 490;
    filter: brightness(70%);
  }

  // Cover text
  .cover-text {
    position: relative;
    z-index: 500;
    font-size: 1.18rem;
    font-weight: 500;
    color: var(--white);
  }
}