<div class="signin-container">
  <!-- Navigation bar -->
  <app-page-navigation></app-page-navigation>

  <div class="signin-form">
    <div class="signin-form-logo">

    </div>

    <div class="signin-form-content">

      <form>

        <input class="signin-form-content-input" type="text" placeholder="User">
        <input class="signin-form-content-input" type="password" placeholder="Password">
        <input class="signin-form-content-input" type="submit">

      </form>

    </div>

  </div>

</div>