<!-- Validation to show only once the user is loaded -->
<ng-container *ngIf="user">
  <!-- Header -->
  <app-header class="basic-header" [imgUrl]="user.img"></app-header>
</ng-container>
<!-- Content in the about section -->
<div class="basic-content">
  <!-- Container for the form -->
  <div class="about-container container">

    <!-- User's name -->
    <h3 class="name">{{ user.name | titlecase }}</h3>
    <!-- User's title -->
    <h5 class="title">{{ user.title | titlecase }}</h5>
    <!-- User's descriptions loop -->
    <p class="description" *ngFor="let desc of user.descriptions">{{ desc }}</p>
    <!-- Contact button -->
    <a class="contact-btn" [routerLink]="['/' + user.username + '/contact']">
      <!-- Icon -->
      <i class="contact-btn-icon fas fa-comment-alt" style="color: var(--gray);"></i>
      <!-- Text -->
      <p class="contact-btn-text">Contactar</p>
    </a>

  </div>
</div>