<!-- Container for the header in the landing page -->
<div class="header-container" style="background-image: url('./assets/imgs/lp-banner.jpg');">
  <!-- Title for the header -->
  <h2 class="header-title">presentup.me</h2>
  <!-- Short description of the product -->
  <div class="header-content">
    <!-- Text in the header -->
    <p class="header-content-text">¡Creá una cuenta completamente gratis!</p>
    <!-- Header button -->
    <a class="header-content-btn" [routerLink]="['/signup']">Crear Cuenta</a>
  </div>
</div>