/* Markdown content styles */
.md-content {
  font-size: 1rem;
  h2 {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4em;
    margin-bottom: 0.7em;
  }
  p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 0.6em;
  }
}