/*-----------------------------------------------------------*/
/*                        Variables                          */
/*-----------------------------------------------------------*/

// Varibale to be use across the platform
:root {
  // Color
  --blue: #3c84f8;
  --indigo: #673ab7;
  --purple: #9c27b0;
  --pink: #e95b9d;
  --red: #d24040;
  --orange: #ff9f0f;
  --yellow: #ffeb3b;
  --green: #57b55b;
  --teal: #009688;
  --cyan: #17a2b8;
  // Gray scale
  --white: #ffffff;
  --light: #f4f4f4;
  --gray-light: #e5e5e5;
  --gray: #939393;
  --gray-dark: #4f4f4f;
  --dark: #2e2e2e;
  --black: #111111;
  // Breakpoints
  --xs: 450px;
  --sm: 660px;
  --md: 830px;
  --lg: 1040px;
  --xl: 1200px;
}