// All the imports to keep everything organized
@import 'variables';
@import 'fonts';
@import 'material';
@import 'reset';

@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

/*-----------------------------------------------------------*/
/*                         Global                            */
/*-----------------------------------------------------------*/

/* Minimun width the app can go */
html { min-width: 320px; }
/* Max width to make a little smaller */
.container {
  max-width: 1260px;
  margin: 0px auto;
}

#notifications-container {
  position: fixed;
  bottom: 20px;
  right: 20px;

  .notification {
    position: relative;
    display: block;
    width: 280px;
    margin-top: 10px;
    padding: 20px;
    background-color: #333333d5;
    color: var(--light);
    transition: all .4s ease;
  }
}