/* All the imports to keep everything organized */
@import 'variables';
@import 'fonts';
@import 'reset';

/* Main styles for the app */
html {
  /* Toolbar height and margin to be see the content */
  --toolbar-height: 40px;
  margin-top: var(--toolbar-height);
  /* Minimun width the app can go */
  min-width: 320px;
  body {
    /**
     * This class will be added when a modal or the menu is
     * open not allowing the scroll bar to move
     */
    &.modal-open {
      overflow: hidden;
    }
  }
}