/*-----------------------------------------------------------*/
/*                          Header                           */
/*-----------------------------------------------------------*/

// Component's Variables
.header-container {
  --title-size: 120px;
  --text-size: 20px;
  --margin: 30px;
  // Screen change
  @media only screen and (max-width: 825px) {
    --title-size: 80px;
    --text-size: 18px;
    --margin: 25px;
  }
  @media only screen and (max-width: 460px) {
    --title-size: 55px;
    --text-size: 16px;
    --margin: 20px;
  }
}

// Header container
.header-container {
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // Title for the header
  .header-title {
    font-family: 'Poiret One';
    display: block;
    text-align: center;
    font-size: var(--title-size);
    color: var(--light);
    margin-bottom: var(--margin);
    padding: 0px 0px calc( var(--title-size) * .37 );
    border-bottom: 4px solid var(--light);
    border-top: 4px solid var(--light);
  }

  // Content in the header
  .header-content {
    text-align: center;

    // Text for the content
    &-text {
      color: var(--light);
      font-size: var(--text-size);
    }
    // BUtton to create an account
    &-btn {
      display: inline-block;
      color: var(--light);
      margin-top: 15px;
      padding: 14px 20px;
      border-radius: 3px;
      background-color: var(--cyan);
      transition: all 0.1s linear;

      // Hover effect
      &:hover {
        background-color: #17a3b8c1;
      }
    }
  }
}