/*-----------------------------------------------------------*/
/*                      Navigation Bar                       */
/*-----------------------------------------------------------*/

// Component's Variables
.nav {
  --brand-size: 20px;
  --margin: 0px 15px 0px 0px;
  --account-right: auto;
  // Screen change
  @media only screen and (max-width: 830px) {
    --margin: 0px auto;
    --account-right: 0px;
  }
}

// Navigation container
.nav {
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0px;
  background-color: var(--white);

  // Page container
  .container {

    // Container for the navigation bar
    .nav-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;

      // Brand link
      .nav-brand {
        z-index: 1200;
        display: flex;
        height: var(--brand-size);
        margin: var(--margin);
        // Brand image as the logo
        img {
          height: 100%;
        }
        order: 0;
        // CHange order in small screen
        @media only screen and (max-width: 830px) {
          order: 1;
        }
      }

       // Menu for the links section
      .nav-links {
        order: 1;
        // CHange order in small screen
        @media only screen and (max-width: 830px) {
          order: 0;
        }
      }
      // Menu for the account section
      .nav-account {
        margin-left: var(--account-right);
        order: 2;
      }
    }
  }
}