<!-- Width won't be exceeding the container -->
<div class="container">
  <!-- Nav content -->
  <div class="nav-container">

    <!-- Brand link with image -->
    <a class="nav-brand" [routerLink]="['/']">
      <img src="assets/images/presentup/brand-light.svg" alt="presentup.me logo brand">
    </a>

    <ng-container *ngIf="width < 830; else big">
      <!-- Menu with all the links for the pages -->
      <app-menu class="nav-links" [menuLinks]="links">
      </app-menu>
      <!-- Menu with all the account related stuff -->
      <app-menu *ngIf="user; else notLogged" class="nav-account" [menuLinks]="logged" menuPosition="right"
        menuType="pop" [buttonImage]="user.img" buttonRoundness="50%" (clicked)="getClickEvent($event)">
      </app-menu>
      <ng-template #notLogged>
        <app-menu class="nav-account" [menuLinks]="account" menuPosition="right" menuType="pop"
          [buttonImage]="defaultImgUrl" buttonRoundness="50%">
        </app-menu>
      </ng-template>
    </ng-container>

    <ng-template #big>
      <!-- Menu with all the links for the pages -->
      <app-nav-links class="nav-links"></app-nav-links>
      <!-- Menu with all the account related stuff -->
      <app-nav-account class="nav-account" *ngIf="!user; else loggedBig" [user]="user" (sendSignOut)="signOut()">
      </app-nav-account>
      <ng-template #loggedBig>
        <app-menu class="nav-account" [menuLinks]="logged" menuPosition="right" menuType="pop" [buttonImage]="user.img"
          buttonRoundness="50%" (clicked)="getClickEvent($event)" menuWorks="normal">
        </app-menu>
      </ng-template>
    </ng-template>

  </div>
</div>