<!-- Contact container -->
<div class="contact-container">

  <!-- Form title -->
  <h3 class="contact-title">Contacta con *Nombre*</h3>

  <!-- Form -->
  <form [formGroup]="contactForm">

    <!-- Input group for the client name -->
    <div class="forms-group">
      <label>Nombre:</label>
      <input class="form-control" type="text" formControlName="name">
      <div class="form-text">Texto de descripcion</div>
      <div class="form-text error">*Error de prueba</div>
    </div>

    <!-- Input group for the client email -->
    <div class="forms-group">
      <label>Correo electronico:</label>
      <input class="form-control" type="email" formControlName="email">
    </div>

    <!-- Input group for the client email -->
    <div class="forms-group">
      <label>Mensaje:</label>
      <textarea class="form-control" formControlName="message"></textarea>
    </div>



  </form>

</div>