// Profile container component
:host {
  padding: 14px 14px 0px;
  display: grid;
  grid-template-columns: calc(63% - 25px) 37%;
  gap: 25px;
  // Smaller screens
  @media only screen and (max-width: 830px) {
    grid-template-columns: 100%;
    padding: 14px 0px 0px;
  }

  // Profile information
  .profile {
    text-align: center;
    // Smaller screens
    @media only screen and (max-width: 830px) {
      margin-top: -90px;
      z-index: 500;
      padding: 0px;
    }

    // Profile head information
    &-head {
      margin-bottom: 14px;

      // Profile image and nav
      .profile-nav {
        position: relative;
        width: 149px;
        height: 149px;
        margin: 0px auto 11px;
        padding: 4px;
        border-radius: 50%;
        background-color: var(--white);

        // Image
        .profile-photo {
          cursor: pointer;
          box-sizing: border-box;
          width: 100%;
          padding: 3px;
          border-radius: 50%;
          user-select: none;
          border: 2px solid transparent;
          transition: border 0.3s linear, filter 0.16s linear;
          &:hover {
            filter: brightness(85%);
          }
        }
        .state-active {
          border: 2px solid #48e1f8;
        }
        .icon {
          color: inherit;
          font-size: inherit;
        }
        .contact-button {
          position: absolute;
          top: 15px;
          left: 0px;
          padding: 8px;
          border: 4px solid var(--white);
          border-radius: 50%;
          background-color: var(--dark);
          color: var(--white);
          font-size: 1.1em;
        }
        .follow-button {
          position: absolute;
          bottom: 13px;
          right: -3px;
          border: 4px solid var(--white);
          padding: 12px 10px 10px 12px;
          border-radius: 50%;
          background-color: var(--dark);
          color: var(--white);
          font-size: 1.47em;
        }
      }

      // Personal data
      .profile-personal {
        margin-bottom: 21px;
        padding: 0px 10px;
        // Data
        .name {
          display: inline-block;
          cursor: pointer;
          margin-bottom: 9px;
          font-size: 1.6rem;
          font-weight: 300;
          transition: color 0.1s linear;
          &:hover {
            color: var(--cyan);
          }
        }
        .title {
          font-size: 1.1rem;
          line-height: 1.5rem;
          font-weight: 400;
        }
      }

      // Counts container
      .profile-counts {
        padding: 5px 0px;
        display: flex;
        justify-content: center;
        border-top: 1px solid var(--gray-light);
        border-bottom: 1px solid var(--gray-light);
        // Counts button
        .count {
          flex-direction: column;
          margin: 0px 5px;
          padding: 7px;
          width: 90px;
          &-number {
            font-size: 0.9rem;
            font-weight: 400;
            margin-bottom: 6px;
          }
          &-title {
            font-size: 0.8rem;
            font-weight: 300;
          }
        }
      }
    }
    // Profile body
    .profile-body {
      display: block;
    }
  }
}
