// Settings component
:host {
  // Component's Variables
  --offset: 280px;
  --menu-size: 280px;
  // Screen change
  @media only screen and (max-width: 830px) {
    --offset: 0%;
  }
  // Settings display after the navigation menu
  display: grid;
  grid-template-columns: var(--offset) auto;
  // Navigation bar
  .navigation {
    position: fixed;
    top: 20px;
    left: 20px;
    &:hover {
      background-color: var(--light);
    }
  }
  // The content to be shown in the settings
  .content {
    grid-column-start: 2;
  }
}