/*-----------------------------------------------------------*/
/*                Main Page Navigation                       */
/*-----------------------------------------------------------*/

// Component's Variables
.landing-page-navigation-container {
  --display: block;
  // Screen change
  @media only screen and (max-width: 825px) {
    --display: none;
  }
}

// Landing page container
.landing-page-navigation-container {
  display: var(--display); // Temp. should show a button
  position: fixed;
  z-index: 1000;
  padding: 0px;
  top: 20px;
  right: 20px;
  border-radius: 2px;

  // Container for all the links
  .landing-page-navigation-content {
    padding: 10px;
    border-radius: 2px;
    display: flex;
    background-color: #f4f4f58f;
    border: 1px solid #f4f4f556;

    // Individual link
    .landing-page-navigation-link {
      cursor: pointer;
      color: var(--dark);
      align-self: center;
      padding: 5px;
      margin: 0px 11px;
      border-bottom: 1px solid transparent;

      // Active state
      &-active {
        border-bottom: 1px solid var(--dark);
      }
    }
  }
}