<!-- Navigation in the landing page -->
<nav class="nav-container">

  <!-- This will be the toggler to show th menu in the responsive screen -->
  <input class="nav-toggler" type="checkbox" />
  <!-- Hamburger button -->
  <div class="nav-ham">
    <!-- Hamburger lines -->
    <div></div>
  </div>

  <!-- Menu -->
  <div class="nav-menu">
    <!-- The links container -->
    <div class="nav-links">
      <a class="nav-link" *ngFor="let link of links" [routerLink]="['/' + link.url]" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{ exact: true }">
        {{ link.name }}
      </a>
    </div>
  </div>

</nav>