/*-----------------------------------------------------------*/
/*                     Chat Preview                          */
/*-----------------------------------------------------------*/

// Variables for the components
.chat-preview-containter {
  --image-size: 43px;
}

// Chat preview container
.chat-preview-containter {
  cursor: pointer;
  display: grid;
  grid-template-columns: var(--image-size) 1fr max-content;
  grid-gap: 4px;
  user-select: none;
  padding: 18px 5px;
  border-bottom: 1px solid var(--gray-light);

  // Hover effect
  &:hover {
    background-color: var(--light);
  }

  // Image of the user if there's one
  .chat-preview-image {
    background-color: #70c3ef;
    width: var(--image-size);
    height: var(--image-size);
    display: flex;
    grid-row: span 2;
    border-radius: 50%;
    text-align: center;

    // Image text initial
    &-name {
      margin: auto auto;
    }
  }

  // Chat user name
  .chat-preview-name {
    padding: 0px 3px;
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
  }

  // Chat last update date
  .chat-preview-date {
    padding: 0px 3px;
    color: var(--gray);
    white-space: nowrap;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  // Chat preview message
  .chat-preview-message {
    padding: 0px 3px;
    grid-column: span 2;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
  }
}