<!-- Sign up container main page -->
<div class="signup-container">

  <!-- Navigation bar -->
  <app-navigation></app-navigation>

  <!-- Steps for the sign up process 
  <app-personal *ngIf="personal" [form]="signupForm" (step)="handleForm($event)"></app-personal>
  <app-account *ngIf="account" [form]="signupForm" (step)="handleForm($event)"></app-account>
  <app-appearance *ngIf="appearance"></app-appearance>
  <app-subscription *ngIf="subscription"></app-subscription> -->

  <ng-container #router></ng-container>

  <!-- Footer -->
  <app-footer></app-footer>

</div>