// Component's Variables
:host {
  --button-size: 40px;
  --button-visibility: hidden;
  --parent-height: 0px;
  --view-links: 1;
  --roundness: 2px;
  --transition-speed: 0.2s;
  --display-toggler: none;
  --menu-width: 280px;
  --side: 0px;
  // Screen change
  @media only screen and (max-width: 830px) {
    --button-visibility: visible;
    --display-toggler: flex;
    --view-links: 0;
    --side: calc(var(--menu-width) * -1);
  }
}

:host(.normal) {
  --button-visibility: visible;
  --display-toggler: flex;
  --view-links: 0;
  @media only screen and (max-width: 830px) {
    --button-visibility: visible;
    --display-toggler: flex;
    --view-links: 0;
  }
  .right {
    --button-d: 200px;
    right: calc(var(--menu-width) * -1);
    // Links container
    .nav-links {
      // Individual link
      .nav-link {
        right: -20px;
      }
    }
  }
  .left {
    left: calc(var(--menu-width) * -1);
    // Links container
    .nav-links {
      // Individual link
      .nav-link {
        left: -20px;
      }
    }
  }
}
// In a bigger screen not show the menu by default
:host(.visible) {
  .nav-menu {
    visibility: visible;
  }
}

// Container styles
:host {
  display: flex;
  width: var(--button-size);
  height: var(--button-size);
  position: relative;

  // Toggler checkbox
  .nav-toggler {
    opacity: 0;
    z-index: 600;
    cursor: pointer;
    user-select: none;
    position: absolute;
    width: var(--button-size);
    height: var(--button-size);
    display: var(--display-toggler);
    visibility: var(--button-visibility);
    -webkit-tap-highlight-color: transparent;
    // Convert to an X on click and rotate
    &:checked {
      // Activate links on click
      & ~ .nav-menu {
        visibility: visible;
        .nav-link {
          opacity: 1;
        }
      }
      & ~ .left {
        left: 0px;
        .nav-link {
          left: 0px;
        }
      }
      & ~ .right {
        right: 0px;
        .nav-link {
          right: 0px;
        }
      }
      & ~ .pop {
        & ~ .nav-shadow {
          @media only screen and (max-width: 830px) {
            background-color: #00000000;
            display: block;
            visibility: visible;
          }
        }
      }
      & ~ .fixed {
        & ~ .nav-shadow {
          @media only screen and (max-width: 830px) {
            background-color: #00000075;
            display: block;
            visibility: visible;
          }
        }
      }
    }
  }
  // Hamburger menu
  .nav-ham {
    padding: 8px;
    z-index: 550;
    user-select: none;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: var(--button-size);
    height: var(--button-size);
    display: var(--display-toggler);
    visibility: var(--button-visibility);
    -webkit-tap-highlight-color: transparent;
    border-radius: var(--roundness);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  // WHen the menu popup from the left
  .left {
    left: var(--side);
    @media only screen and (max-width: 830px) {
      left: calc(var(--menu-width) * -1);
    }
    // Links container
    .nav-links {
      // Individual link
      .nav-link {
        border-left: 2px solid var(--white);
        @media only screen and (max-width: 830px) {
          left: -20px;
        }
      }
    }
    .menu-title {
      margin: 0px 0px 35px 15px;
    }
    .square {
      .nav-link {
        // Links when active
        &-active {
          border-left: 2px solid var(--dark);
        }
      }
    }
  }
  // When menu popup from the right
  .right {
    text-align: right;
    right: var(--side);
    @media only screen and (max-width: 830px) {
      right: calc(var(--menu-width) * -1);
    }
    // Links container
    .nav-links {
      // Individual link
      .nav-link {
        justify-content: flex-end;
        border-right: 2px solid var(--white);
        @media only screen and (max-width: 830px) {
          right: -20px;
        }
        &-icon {
          order: 1;
        }
        &-text {
          order: 0;
        }
      }
    }
    .menu-title {
      margin: 0px 15px 35px 0px;
    }
    .square {
      .nav-link {
        // Links when active
        &-active {
          border-right: 2px solid var(--dark);
        }
      }
    }
  }
  // When the menu is fixed to the whole screen
  .fixed {
    height: 100vh;
    position: fixed;
    top: 0px;
    box-shadow: 0px 0px 8px 0px #00000029;
    padding: 40px 20px 70px;
  }
  // Small popup as a menu
  .pop {
    position: absolute;
    top: calc(((var(--parent-height) / 2) - (var(--button-size) / 2)) + var(--button-size) + 7px);
    box-shadow: 0px 0px 8px 0px #00000029;
    padding: 20px;
  }

  // Container for all the links
  .nav-menu {
    z-index: 1000;
    overflow: auto;
    width: var(--menu-width);
    box-sizing: border-box;
    background-color: var(--white);
    transition-timing-function: linear;
    transition-property: left, right, visibility;
    transition-duration: var(--transition-speed);
    visibility: hidden;

    // Titles in the menu
    .menu-title {
      font-size: 22px;
      font-weight: 600;
    }

    // Links container
    .nav-links {
      // Individual link
      .nav-link {
        cursor: pointer;
        display: flex;
        padding: 8px 8px;
        margin-bottom: 3.9px;
        position: relative;
        opacity: var(--view-links);
        align-items: center;
        border-radius: 2px;
        transition-property: opacity, left, right, background-color, border-left-color;
        transition-duration: var(--transition-speed);
        transition-timing-function: cubic-bezier(0.16, 1, 0.29, 0.99);
        box-sizing: border-box;
        @media only screen and (max-width: 830px) {
          padding: 16px 11px;
        }
        // Link icon
        &-icon {
          width: 20px;
          height: 20px;
          margin: 0px 9px;
          font-size: 17px;
        }
      }
    }

    // Clean links design
    .clean {
      .nav-link {
        transition-delay: calc(var(--transition-speed) + 0.03s);
        transition-duration: 0.667s !important;
        // Active state
        &-active {
          font-weight: 600;
        }
      }
    }
    // Square links design
    .square {
      .nav-link {
        // Links when active
        &-active {
          background-color: var(--light);
        }
        // Hover effect in the link
        &:hover {
          background-color: var(--light);
        }
      }
    }
  }
  // Shadow when the menu is open
  .nav-shadow {
    @media only screen and (max-width: 830px) {
      display: block;
      position: fixed;
      display: none;
      visibility: hidden;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      z-index: 800;
    }
  }
}