<!-- This will be the toggler to show the links in the responsive screen -->
<input class="nav-toggler" type="checkbox" [(ngModel)]="menuState" />
<!-- Hamburger button -->
<div class="nav-ham" [style.background-image]="'url(' + buttonImage + ')'">
  <!-- Hamburger lines -->
  <i *ngIf="!buttonImage" class="fas" [class]="buttonIcon" [style.color]="buttonIconColor"></i>
</div>

<!-- This will be the menu for all the links in the menu -->
<div class="nav-menu" [class]="menuPosition + ' ' + menuType">

  <!-- Menu title -->
  <h3 class="menu-title" *ngIf="menuTitle">{{ menuTitle }}</h3>

  <!-- The links container -->
  <div class="nav-links" [class]="menuLinksType">
    <a
      *ngFor="let link of menuLinks"
      class="nav-link"
      [routerLink]="link.url"
      routerLinkActive="nav-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="menuState = false"
      (click)="sendClickEvent($event)"
      [attr.id]="link.id ? link.id : null"
    >
      <!-- Icon -->
      <i class="nav-link-icon" *ngIf="link.icon" [class]="link.icon"></i>
      <!-- Text -->
      <div class="nav-link-text" [style.color]="link.color ? link.color : 'var(--dark)'">{{ link.name }}</div>
    </a>
  </div>

</div>