// Contact container
:host {
  display: block;
  display: grid;
  grid-template-columns: 66% auto;
  // Smaller screens
  @media only screen and (max-width: 830px) {
    display: block;
  }

  // Header container
  .basic-header {
    width: 66%;
    height: 100vh;
    position: fixed;
    // Smaller screens
    @media only screen and (max-width: 830px) {
      width: 100%;
      height: 66vh;
      position: relative;
    }
  }
  // Contact section
  .basic-content {
    grid-column-start: 2;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // Smaller screens
    @media only screen and (max-width: 830px) {
      min-height: 0px;
    }

    // Contact form container
    .contact-container {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 30px 20px;
      max-width: 380px;

      // Contact form title
      .title-container {
        margin-bottom: 30px;
        text-align: center;

        // Short description
        .desc {
          font-size: 1.05rem;
          margin-bottom: 0.3rem;
        }
        // User name to be contacted
        .name {
          font-size: 2rem;
          line-height: 2.2rem;
          font-weight: 400;
          margin-bottom: 0.3rem;
          color: var(--gray-dark);
          margin-bottom: 0.9rem;
        }
        // Information from the user
        .user-desc {
          font-size: 0.9rem;
          line-height: 1.2rem;
          padding: 0px 16px;
        }
      }

      // Form
      .contact-form {
        // Inputs
        .form-group {
          margin-bottom: 15px;
          // Form group control
          .form-control {
            width: 100%;
            height: 35px;
            display: block;
            font-size: 16px;
            padding: 0px 10px;
            line-height: 35px;
            box-sizing: border-box;
            border: 1px solid var(--gray-light);
          }
          // Form group text/hint
          .form-text {
            display: block;
            font-size: 14px;
            text-align: left;
            margin-top: 6px;
            margin-bottom: 15px;
            color: var(--gray);
          }
          // Error messages
          .error {
            color: var(--red) !important;
          }
          // Textarea
          textarea {
            padding: 10px !important;
            resize: vertical;
            min-height: 210px;
            line-height: 1.5rem !important;
          }
        }

        // Button
        .form-btn {
          width: 100%;
          padding: 8px;
          display: block;
          font-size: 16px;
          cursor: pointer;
          border-radius: 2px;
          color: var(--light);
          transition: all 0.1s linear;
          background-color: var(--cyan);
          // Hover effect
          &:hover {
            background-color: #17a3b8c1;
          }
          // Disable
          &:disabled {
            cursor: not-allowed;
            background-color: #939393b7;
          }
        }
      }
    }
  }
}