<!-- Validation to show only once the user is loaded -->
<ng-container *ngIf="user">
  <!-- Header -->
  <app-header class="basic-header" [imgUrl]="user.img"></app-header>
</ng-container>
<!-- Content in the about section -->
<div class="basic-content">
  <!-- Container for the form -->
  <div class="contact-container container">

    <!-- Form title -->
    <div class="title-container">
      <h3 class="desc">Escribele a</h3>
      <h3 class="name">{{ user.name | titlecase }}</h3>
      <h4 class="user-desc">Recuerda que {{ 'estas instrucciones son las que se les mostrara al usuario, y se podran configurar por parte del usuario.' }}</h4>
    </div>

    <!-- Form to send the message -->
    <div class="contact-form">
      <form [formGroup]="contactForm" (ngSubmit)="submitForm()">

        <!-- Input group for the client name -->
        <div class="form-group" *ngIf="(authService.currentUser | async) === null">
          <input formControlName="name" class="form-control" type="text" placeholder="Nombre">
          <!-- Errors -->
          <small *ngIf="name.errors?.required && name.touched" class="form-text error">¡Este campo es requerido!</small>
        </div>

        <!-- Input group for the client email -->
        <div class="form-group" *ngIf="(authService.currentUser | async) === null">
          <input formControlName="email" class="form-control" type="email" placeholder="Correo Electronico">
          <!-- Errors -->
          <small *ngIf="email.errors?.required && email.touched" class="form-text error">¡Este campo es requerido!</small>
          <small *ngIf="email.errors?.email && email.touched" class="form-text error">¡Ingresa un correo valido!</small>
        </div>

        <!-- Input group for the client message -->
        <div class="form-group">
          <textarea formControlName="message" class="form-control" placeholder="Mensaje"></textarea>
          <!-- Errors -->
          <small *ngIf="message.errors?.required && message.touched" class="form-text error">¡Este campo es requerido!</small>
          <small *ngIf="message.errors?.minlength && message.touched" class="form-text error">¡Debes tener un mensaje de por lo menos 20 caracteres!</small>
        </div>

        <!-- Submit button -->
        <input [disabled]="!contactForm.valid" class="form-btn" type="submit" value="Enviar">

      </form>
    </div>

  </div>
</div>