<!-- Chat preview container -->
<a class="chat-preview-containter" [routerLink]="chat.id">

  <!-- Image for the chat if there's one otherwise will show the name's initials -->
  <div class="chat-preview-image">
    <!-- Text in case there's no image -->
    <div class="chat-preview-image-name">MB</div>
  </div>

  <!-- User's name -->
  <div class="chat-preview-name">Miguel Bogota</div>
  <!-- Date last updated -->
  <div class="chat-preview-date">April 18</div>
  <!-- Preview message -->
  <div class="chat-preview-message">Mensaje de prueba...</div>

</a>