// Header container
:host {
  --size: 100%;
  display: block;
  width: var(--size);
  height: var(--size);
  // User image
  .user-img {
    width: var(--size);
    height: var(--size);
    // Image configuration
    background-position: 42% 25%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
