<div class="info-container">
    <!-- Page title -->
  <h3 class="title">Precios</h3>
  <!-- Subtitle -->
  <h5 class="subtitle">¡Escoge el plan correcto!</h5>
  <!-- Page description -->
  <p class="description">Descripcion corta de como los precios son los mejores de universon y por que user la plataforma.</p>
  <p class="description">En cualquier momento puedes escoger otro.</p>
</div>

<!-- Table with the prices -->
<div class="price-table">
  <!-- JHeader with plans name -->
  <div class="price-table-header">
    <div class="price-table-header-title" *ngFor="let plan of plans">{{ plan.name }}</div>
  </div>
  <!-- Body of the table showing the information about the plans -->
  <div class="price-table-body">

    <!-- Prices -->
    <div class="price-table-body-feature">
      <div class="price-table-body-feature-desc">Precios mensuales</div>
      <!-- Loop Prices -->
      <div class="price-table-body-feature-marks">
        <div class="mark" *ngFor="let plan of plans">${{ plan.price | number }}</div>
      </div>
    </div>
    
    <!-- Loop for all the features -->
    <div class="price-table-body-feature" *ngFor="let feature of features">
      <!-- Description of the feature -->
      <div class="price-table-body-feature-desc">{{ feature.description }}</div>
      <!-- Container for all the features in the plans -->
      <div class="price-table-body-feature-marks">

        <!-- Loop for the plans -->
        <ng-container *ngFor="let plan of plans">
          
          <!-- If the feature is in the plan will be mark with an check icon 
          <div class="mark" *ngIf="isFeatureInPlan(feature, plan); else negative"> -->
          <div class="mark" *ngIf="isFeatureInPlan(); else negative">
            <!-- Icon -->
            <i class="fas fa-check"></i>
          </div>

          <!-- If the feature is in the plan will be mark with an X icon -->
          <ng-template #negative>
            <div class="mark">
              <!-- Icon -->
              <i class="fas fa-times"></i>
            </div>
          </ng-template>

        </ng-container>

      </div>
    </div>
  </div>
</div>

<!-- Footer information -->
<div class="info-container">
  <p class="description">Recuerda que para poder usar el servicio es necesario tener tus clientes listos para que entren a tu tarjeta. Este texto será cambiado en un futuro.</p>
  <!-- Button to create account -->
  <a class="get-account" [routerLink]="['/signup']">¡Creá tu cuenta!</a>
</div>