// Component's Variables
:host {
  --table-feature-width: 140px;
  // Screen change
  @media only screen and (max-width: 660px) {
    --table-feature-width: 40%;
  }
}

// Container for the not pricing page
:host {
  display: block;
  margin: 0px auto;
  max-width: 780px;
  padding: 50px 0px;


  // Container for the information in the page
  .info-container {
    margin-bottom: 40px;
    box-sizing: border-box;
    // Last child won't have a margin
    &:nth-last-child(1) {
      margin-bottom: 0px;
    }

    // Title of the page
    .title {
      font-size: 1.6rem;
      margin-bottom: 10px;
    }

    // Subtitle of the page
    .subtitle {
      font-size: 1.1rem;
      margin-bottom: 20px;
    }

    // Description of the page
    .description {
      line-height: 1.2rem;
    }

    // Create account button
    .get-account {
      text-align: center;
      padding: 10px;
      width: 26%;
      padding: 14px;
      cursor: pointer;
      font-size: 1rem;
      margin: 30px auto 0px;
      border-radius: 2px;
      color: var(--light);
      display: block;
      background-color: var(--cyan);
      transition: all 0.1s linear;
      // Hover effect
      &:hover {
        background-color: #31b3c7;
      }
    }
  }

  // Table with the plans
  .price-table {
    max-width: 800px;
    margin: 0px auto 60px;
    text-align: center;
    padding: 0px 10px;
    user-select: none;

    // Table's header
    &-header {
      display: flex;
      padding: 0px 20px;
      justify-content: flex-end;
      // Smaller screen
      @media only screen and (max-width: 660px) {
        justify-content: center;
        padding: 0px;
      }

      // Title box
      &-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        width: var(--table-feature-width);
        height: 80px;
        margin: 5px;
        border-radius: 2px;
        color: var(--light);
        background-color: var(--dark);
        transition: background-color 0.1s linear;
        // Hover effect
        &:hover {
          background-color: #2e2e2ee6;
        }
      }
    }

    // Body of the table
    &-body {
      padding: 30px 0px 0px;

      // Features container
      &-feature {
        padding: 15px 20px;
        border-bottom: 1px solid var(--gray);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // Smaller screen
        @media only screen and (max-width: 660px) {
          flex-direction: column;
          align-items: stretch;
          padding: 15px 0px;
        }

        // Last child won't have a divider
        &:nth-last-child(1) {
          border-bottom: 1px transparent !important;
        }

        // Description
        &-desc {
          font-size: 0.95rem;
        }
        // Marks for each feature
        &-marks {
          display: flex;
          justify-content: center;

          // Individual mark
          .mark {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3rem;
            margin: 5px;
            padding: 5px 0px;
            width: var(--table-feature-width);
            border-radius: 2px;
            // Smaller screen
            @media only screen and (max-width: 660px) {
              margin: 5px 5px 0px;
              padding: 10px 0px 0px;
            }

            // Check icon
            .fa-check {
              color: var(--green) !important;
            }
            // X icon
            .fa-times {
              color: var(--red) !important;
            }
          }
        }

      }

    }
  }

}