<!-- Image container -->
<div class="img-container">
  <!-- Image to show in the screen -->
  <img class="img" src="assets/images/si-banner.png" draggable="false">
</div>

<!-- Container for the form -->
<div class="form-container">
  <!-- Sign in form -->
  <div class="form">

    <!-- Title for the sign in -->
    <h2 class="form-title">presentup.me</h2>

    <!-- Loading screen for login with providers -->
    <div class="form-loading" *ngIf="showLoadingSpinnerForm; else loaded">
      <app-roller></app-roller>
    </div>

    <!-- If the form is not loading will show the following code-->
    <ng-template #loaded>

      <!-- Form content -->
      <div class="form-content">
        <form [formGroup]="signinForm" (ngSubmit)="onSignIn()">
          <!-- Inputs for the sign in -->
          <input formControlName="username" class="form-content-input" type="text" placeholder="Usuario">
          <input formControlName="pass" class="form-content-input" type="password" placeholder="Contraseña">

          <!-- Error message -->
          <div *ngIf="errorMessage" class="form-content-error">
            {{ errorMessage }}
          </div>

          <input [disabled]="!signinForm.valid" class="form-content-btn" type="submit" value="Inciar sesión">
        </form>
      </div>

      <!-- Option divider -->
      <div class="form-divider">
        <div class="form-divider-line"></div>
        <div class="form-divider-text">O</div>
        <div class="form-divider-line"></div>
      </div>

      <!-- Other sign in options -->
      <div class="form-options">
        <!-- Facebook -->
        <a class="form-options-fb">Iniciar sesión con Facebook</a>
      </div>

      <!-- Forgot password option -->
      <a class="form-forgot" [routerLink]="['/forgot']">¿Olvidaste tu contraseña?</a>

    </ng-template>
  </div>

  <!-- Create account container -->
  <div class="new-account">
    <p class="new-account-text">¿No tienes una cuenta?</p>
    <a class="new-account-link" [routerLink]="['/signup']">Crear cuenta</a>
  </div>

  <!-- Download the app -->
  <a class="get-app">¡Instala la app!</a>

</div>