// Component's Variables
:host {
  --form-width-offset: 50%;
  --form-margin: 10px;
  --width-form: 740px;
  --heigh: calc(100vh - 63.5px - 82.83px - 30px);
  // Screen change
  @media only screen and (max-width: 830px) {
    --form-width-offset: 0%;
    --form-margin: 0px;
    --height: auto;
  }
  // Screen change
  @media only screen and (max-width: 450px) {
    --width-form: 100%;
  }
}

// sign up page for the account set up
:host {
  width: 100%;
  display: block;
  max-width: 935px;
  margin: 0px auto;
  padding: 10px 0px 50px;
  text-align: center;

  // Form
  .form {
    max-width: 460px;
    padding: 27px;
    border-radius: 2px;
    margin: 10px auto 20px;
    background-color: var(--light);
    // Screen change
    @media only screen and (max-width: 450px) {
      padding: 27px 15px;
    }

    // Information
    .information {
      text-align: left;
      margin-bottom: 20px;
      font-size: 1.1rem;
      user-select: none;
    }

    // Inputs
    .form-control {
      display: block;
      width: 100%;
      height: 300px;
      resize: none;
      line-height: 1.3rem;
      font-size: 1rem;
      padding: 10px;
      margin-bottom: 25px;
      box-sizing: border-box;
    }

    // Button
    .btn {
      cursor: pointer;
      display: inline-block;
      padding: 9px 13px;
      font-size: 16px;
      border-radius: 2px;
      color: var(--light);
      background-color: var(--cyan);
      transition: all 0.1s linear;
      margin: 0px 20px;
      // Hover effect
      &:hover {
        background-color: #17a3b8c1;
      }
      // Disable
      &:disabled {
        background-color: #939393b7 !important;
        cursor: not-allowed !important;
      }
    }
    .back {
      background-color: inherit !important;
      color: var(--red) !important;
      &:hover {
        background-color: var(--gray-light) !important;
        color: #d24040c1 !important;
      }
    }
  }

  // Button to install the app
  .get {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    padding: 10px;
    border-radius: 3px;
    color: var(--light);
    background-color: var(--dark);
    transition: all 0.1s linear;
    // Hover effect
    &:hover {
      background-color: #343a40c1;
    }
  }
}