<!-- Text with the information -->
<div class="content">
  <h3 class="title">¡Presentate! Que el mundo te conozca</h3>
  <div class="desc-container">
    <p class="desc">Con presentup.me podrás mostrar quien eres, que haces y todos tus proyectos desde un solo link.</p>
    <p class="desc">Crea una cuenta completamente gratis y empieza a promoverte.</p>
  </div>
  <a [routerLink]="['/signup']" class="btn">Registrarse</a>
</div>

<!-- Image -->
<div class="image-container">
  <img class="image" src="assets/images/header-banner.png">
</div>