// Footer container
:host {
  display: block;
  width: 100%;
  border-top: 1px solid var(--gray-light);
  background-color: var(--light);
  box-sizing: border-box;

  // Main container
  .container {
    // Content in the footer
    .content {
      display: flex;
      font-size: 13px;
      color: var(--gray);
      align-items: center;
      padding: 20px 10px;

      // Links container
      .links-container {
        margin-left: auto;

        // Footer links
        .link {
          display: inline-block;
          margin: 0px 3px;
          padding: 5px;

          // Hover effect
          &:hover {
            text-decoration: underline;
            color: var(--dark);
          }
        }
      }

      // Copyright statement
      .copyright {
        margin-left: 10px;
      }
    }
  }
}